-- SQL Manager Lite for PostgreSQL 6.1.2.53864
-- ---------------------------------------
-- Хост         : 10.24.0.64
-- База данных  : arlandbpg
-- Версия       : PostgreSQL 13.0, compiled by Visual C++ build 1914, 64-bit



SET search_path = public, pg_catalog;
DROP INDEX IF EXISTS public.paramlist_idx;
DROP TABLE IF EXISTS public.paramlist;
DROP SEQUENCE IF EXISTS public.paramlist_paramid_seq;
DROP TABLE IF EXISTS public.delegatelist;
DROP SEQUENCE IF EXISTS public.delegatelist_delegateid_seq;
DROP TABLE IF EXISTS public.clientlist;
DROP SEQUENCE IF EXISTS public.clientlist_clientid_seq;
DROP TABLE IF EXISTS public.templateparamlist;
DROP SEQUENCE IF EXISTS public.templateparamlist_templateparamid_seq;
DROP TABLE IF EXISTS public.templatelist;
DROP SEQUENCE IF EXISTS public.templatelist_templateid_seq;
DROP TABLE IF EXISTS public.documentlist;
DROP SEQUENCE IF EXISTS public.documentlist_documentid_seq;
DROP TABLE IF EXISTS public.banklist;
DROP SEQUENCE IF EXISTS public.banklist_bankid_seq;
DROP TABLE IF EXISTS public.cataloglist;
DROP TABLE IF EXISTS public.personlist;
SET check_function_bodies = false;
--
-- Structure for table personlist (OID = 16397) : 
--
CREATE TABLE public.personlist (
    personid integer NOT NULL,
    personname varchar(128),
    personpass varchar(64),
    personfio varchar(128),
    persondisable smallint DEFAULT 0 NOT NULL
)
WITH (oids = false);
--
-- Structure for table cataloglist (OID = 16403) : 
--
CREATE TABLE public.cataloglist (
    catalogid integer NOT NULL,
    catalogname varchar(32)
)
WITH (oids = false);
--
-- Definition for sequence banklist_bankid_seq (OID = 16415) : 
--
CREATE SEQUENCE public.banklist_bankid_seq
    START WITH 1
    INCREMENT BY 1
    MAXVALUE 2147483647
    NO MINVALUE
    CACHE 1;
--
-- Structure for table banklist (OID = 16417) : 
--
CREATE TABLE public.banklist (
    bankid integer GENERATED ALWAYS AS IDENTITY NOT NULL,
    bankname varchar(128),
    bankadres varchar(1024),
    catalogid integer,
    personid integer,
    createpoint timestamp without time zone
)
WITH (oids = false);
--
-- Definition for sequence documentlist_documentid_seq (OID = 16436) : 
--
CREATE SEQUENCE public.documentlist_documentid_seq
    START WITH 1
    INCREMENT BY 1
    MAXVALUE 2147483647
    NO MINVALUE
    CACHE 1;
--
-- Structure for table documentlist (OID = 16438) : 
--
CREATE TABLE public.documentlist (
    documentid integer GENERATED ALWAYS AS IDENTITY NOT NULL,
    documentname varchar(128),
    catalogid integer,
    documentlink varchar(1024),
    personid integer,
    documenttypeid integer,
    casedate varchar(32),
    casenumber varchar(128),
    agentid integer,
    clientid integer,
    createpoint timestamp without time zone DEFAULT LOCALTIMESTAMP NOT NULL
)
WITH (oids = false);
--
-- Definition for sequence templatelist_templateid_seq (OID = 16447) : 
--
CREATE SEQUENCE public.templatelist_templateid_seq
    START WITH 1
    INCREMENT BY 1
    MAXVALUE 2147483647
    NO MINVALUE
    CACHE 1;
--
-- Structure for table templatelist (OID = 16449) : 
--
CREATE TABLE public.templatelist (
    templateid integer GENERATED ALWAYS AS IDENTITY NOT NULL,
    templatename varchar(128),
    catalogid integer,
    templatelink varchar(1024),
    personid integer,
    createpoint timestamp without time zone DEFAULT LOCALTIMESTAMP NOT NULL
)
WITH (oids = false);
--
-- Definition for sequence templateparamlist_templateparamid_seq (OID = 16464) : 
--
CREATE SEQUENCE public.templateparamlist_templateparamid_seq
    START WITH 1
    INCREMENT BY 1
    MAXVALUE 2147483647
    NO MINVALUE
    CACHE 1;
--
-- Structure for table templateparamlist (OID = 16466) : 
--
CREATE TABLE public.templateparamlist (
    templateparamid integer GENERATED ALWAYS AS IDENTITY NOT NULL,
    templateid integer,
    templateparamname varchar(64),
    templateparamcaption varchar(64),
    templateparamtype varchar(16),
    catalogid integer,
    clientid integer,
    createpoint timestamp without time zone DEFAULT LOCALTIMESTAMP NOT NULL,
    criticallparam integer DEFAULT 0 NOT NULL,
    templateparamorder integer DEFAULT 99
)
WITH (oids = false);
--
-- Definition for sequence clientlist_clientid_seq (OID = 16472) : 
--
CREATE SEQUENCE public.clientlist_clientid_seq
    START WITH 1
    INCREMENT BY 1
    MAXVALUE 2147483647
    NO MINVALUE
    CACHE 1;
--
-- Structure for table clientlist (OID = 16474) : 
--
CREATE TABLE public.clientlist (
    clientid integer GENERATED ALWAYS AS IDENTITY NOT NULL,
    clientname varchar(128),
    clientadres varchar(1024),
    clientogrn varchar(64),
    clientinn varchar(64),
    catalogid integer,
    personid integer,
    createpoint timestamp without time zone DEFAULT LOCALTIMESTAMP
)
WITH (oids = false);
--
-- Definition for sequence delegatelist_delegateid_seq (OID = 16483) : 
--
CREATE SEQUENCE public.delegatelist_delegateid_seq
    START WITH 1
    INCREMENT BY 1
    MAXVALUE 2147483647
    NO MINVALUE
    CACHE 1;
--
-- Structure for table delegatelist (OID = 16485) : 
--
CREATE TABLE public.delegatelist (
    delegateid integer GENERATED ALWAYS AS IDENTITY NOT NULL,
    delegatename varchar(128),
    delegatephone varchar(32),
    delegateorder varchar(128),
    catalogid integer,
    personid integer,
    createpoint timestamp without time zone DEFAULT LOCALTIMESTAMP
)
WITH (oids = false);
--
-- Definition for sequence paramlist_paramid_seq (OID = 16493) : 
--
CREATE SEQUENCE public.paramlist_paramid_seq
    START WITH 1
    INCREMENT BY 1
    MAXVALUE 2147483647
    NO MINVALUE
    CACHE 1;
--
-- Structure for table paramlist (OID = 16495) : 
--
CREATE TABLE public.paramlist (
    paramid integer GENERATED ALWAYS AS IDENTITY NOT NULL,
    paramtable varchar(128),
    paramname varchar(128),
    paramcaption varchar(64),
    paramtype varchar(16)
)
WITH (oids = false);
--
-- Data for table public.personlist (OID = 16397) (LIMIT 0,7)
--
INSERT INTO personlist (personid, personname, personpass, personfio, persondisable)
VALUES (3, 'КарповаТС', '96e79218965eb72c92a549dd5a330112', 'Карпова Татьяна Сергеевна', 0);

INSERT INTO personlist (personid, personname, personpass, personfio, persondisable)
VALUES (4, 'ЧемодановСВ', '96e79218965eb72c92a549dd5a330112', 'Чемоданов Сергей Викторович', 0);

INSERT INTO personlist (personid, personname, personpass, personfio, persondisable)
VALUES (5, 'ХицковаАА', '8a26bf64674ae23404c78e4fb787f7b5', 'Хицкова Анна Алексеевна', 0);





--
-- Data for table public.cataloglist (OID = 16403) (LIMIT 0,3)
--
INSERT INTO cataloglist (catalogid, catalogname)
VALUES (1, 'ОРИП Владимир');

INSERT INTO cataloglist (catalogid, catalogname)
VALUES (2, 'ОРИП Иваново');

INSERT INTO cataloglist (catalogid, catalogname)
VALUES (3, 'ОСЗ Владимир / электро');

--
-- Data for table public.banklist (OID = 16417) (LIMIT 0,40)
--
INSERT INTO banklist (bankid, bankname, bankadres, catalogid, personid, createpoint)
VALUES (4, 'АО "Владбизнесбанк"', '600015, г. Владимир, пр-т Ленина, д. 35', 1, NULL, NULL);

INSERT INTO banklist (bankid, bankname, bankadres, catalogid, personid, createpoint)
VALUES (5, 'ПАО Банк ВТБ', '600000, г. Владимир, Октябрьский пр-т, д. 47', 1, NULL, NULL);

INSERT INTO banklist (bankid, bankname, bankadres, catalogid, personid, createpoint)
VALUES (6, 'ПАО Банк "ФК Открытие"', '600017, г. Владимир, ул. Мира, д. 34', 1, NULL, NULL);






































--
-- Data for table public.documentlist (OID = 16438) (LIMIT 0,9)
--
INSERT INTO documentlist (documentid, documentname, catalogid, documentlink, personid, documenttypeid, casedate, casenumber, agentid, clientid, createpoint)
VALUES (6, '{17C51B65-3CE9-4BB6-821D-E6CD81E3C013}.docx', 1, '\\\\vla-ad02-fs01\\Work\\УПРДЗ\\Автоматизация\\Базафайлов\\{17C51B65-3CE9-4BB6-821D-E6CD81E3C013}.docx', 3, 4, '13.11.2020', '', 26, 148, '2020-11-13 15:22:26.329715');

INSERT INTO documentlist (documentid, documentname, catalogid, documentlink, personid, documenttypeid, casedate, casenumber, agentid, clientid, createpoint)
VALUES (7, '{19FF6708-2DAD-4D09-BADF-A1296D54B00F}.docx', 1, '\\\\vla-ad02-fs01\\Work\\УПРДЗ\\Автоматизация\\Базафайлов\\{19FF6708-2DAD-4D09-BADF-A1296D54B00F}.docx', 3, 4, '13.11.2020', '', 26, 148, '2020-11-13 15:53:29.567258');

INSERT INTO documentlist (documentid, documentname, catalogid, documentlink, personid, documenttypeid, casedate, casenumber, agentid, clientid, createpoint)
VALUES (8, '{EFE5F978-3965-4704-AFED-4520CE7C8800}.docx', 1, '\\\\vla-ad02-fs01\\Work\\УПРДЗ\\Автоматизация\\Базафайлов\\{EFE5F978-3965-4704-AFED-4520CE7C8800}.docx', 3, 4, '16.11.2020', '', 26, 18, '2020-11-16 10:08:38.984072');







--
-- Data for table public.templatelist (OID = 16449) (LIMIT 0,1)
--
INSERT INTO templatelist (templateid, templatename, catalogid, templatelink, personid, createpoint)
VALUES (4, 'Заявление в кред. орг. от АО ВКС', 1, '\\\\vla-ad02-fs01\\Work\\УПРДЗ\\Автоматизация\\Базашаблонов\\oripvladzakovks.docx', 4, '2020-10-20 15:53:47.292947');

--
-- Data for table public.templateparamlist (OID = 16466) (LIMIT 0,19)
--
INSERT INTO templateparamlist (templateparamid, templateid, templateparamname, templateparamcaption, templateparamtype, catalogid, clientid, createpoint, criticallparam, templateparamorder)
VALUES (15, 4, 'doc_data_dolga', 'период ДЗ осн.долг', 'edit', 1, NULL, '2020-11-12 11:49:43.789', 0, 6);

INSERT INTO templateparamlist (templateparamid, templateid, templateparamname, templateparamcaption, templateparamtype, catalogid, clientid, createpoint, criticallparam, templateparamorder)
VALUES (14, 4, 'doc_pen_osndolg', 'сумма пени', 'edit', 1, NULL, '2020-11-12 11:47:04.284', 0, 7);

INSERT INTO templateparamlist (templateparamid, templateid, templateparamname, templateparamcaption, templateparamtype, catalogid, clientid, createpoint, criticallparam, templateparamorder)
VALUES (13, 4, 'doc_pen_zadolgnost', 'период пени (по день оплаты)', 'edit', 1, NULL, '2020-11-12 11:45:35.025', 0, 8);

















--
-- Data for table public.clientlist (OID = 16474) (LIMIT 0,500)
--
INSERT INTO clientlist (clientid, clientname, clientadres, clientogrn, clientinn, catalogid, personid, createpoint)
VALUES (3, 'ООО "Владимиртеплогаз"', 'г. Владимир, ул. Мира, д. 15В, этаж 2, каб. 201', '1023302553064', '33100003494', 1, 3, NULL);

INSERT INTO clientlist (clientid, clientname, clientadres, clientogrn, clientinn, catalogid, personid, createpoint)
VALUES (4, 'МУПП ЖКХ ГО Кохма "Кохмабытсервис"', '153510, г. Кохма, ул. Рабочая, д. 13', '1023701512306', '3711004061', 1, 3, NULL);

INSERT INTO clientlist (clientid, clientname, clientadres, clientogrn, clientinn, catalogid, personid, createpoint)
VALUES (5, 'АО "Ивгортеплоэнерго"', '153021, Ивановская область, г. иваноов, ул. Рабфаковская, д. 2/1', '', '3702733438', 1, 3, NULL);


















































































































































































































































































































































































































































































































--
-- Data for table public.clientlist (OID = 16474) (LIMIT 500,68)
--




































































--
-- Data for table public.delegatelist (OID = 16485) (LIMIT 0,46)
--
INSERT INTO delegatelist (delegateid, delegatename, delegatephone, delegateorder, catalogid, personid, createpoint)
VALUES (4, 'Корнева Анна Валерьевна', '+7 (4932) 58-91-37', '37/30-н/37-2020-1-180 от 22.01.2020', 1, 7, NULL);

INSERT INTO delegatelist (delegateid, delegatename, delegatephone, delegateorder, catalogid, personid, createpoint)
VALUES (5, 'Косарева Алёна Алексеевна', '+7 (4932) 58-90-13', '37/30-н/37-2020-1-181 от 22.01.2020', 1, 7, NULL);

INSERT INTO delegatelist (delegateid, delegatename, delegatephone, delegateorder, catalogid, personid, createpoint)
VALUES (6, 'Соколова Алла Юрьевна', '+7 (4932) 58-90-97', '37/30-н/37-2020-1-172 от 22.01.2020', 1, 7, NULL);












































--
-- Data for table public.paramlist (OID = 16495) (LIMIT 0,9)
--
INSERT INTO paramlist (paramid, paramtable, paramname, paramcaption, paramtype)
VALUES (1, 'clientlist', 'clientname', 'наименование/ФИО клиента', 'edit');

INSERT INTO paramlist (paramid, paramtable, paramname, paramcaption, paramtype)
VALUES (2, 'clientlist', 'clientadres', 'адрес клиента', 'memo');

INSERT INTO paramlist (paramid, paramtable, paramname, paramcaption, paramtype)
VALUES (3, 'clientlist', 'clientogrn', 'ОГРН клиента', 'edit');







--
-- Definition for index paramlist_idx (OID = 16502) : 
--
CREATE INDEX paramlist_idx ON public.paramlist USING btree (paramtable);
--
-- Definition for index personlist_pkey (OID = 16401) : 
--
ALTER TABLE ONLY personlist
    ADD CONSTRAINT personlist_pkey
    PRIMARY KEY (personid);
--
-- Definition for index cataloglist_pkey (OID = 16420) : 
--
ALTER TABLE ONLY cataloglist
    ADD CONSTRAINT cataloglist_pkey
    PRIMARY KEY (catalogid);
--
-- Definition for index banklist_pkey (OID = 16424) : 
--
ALTER TABLE ONLY banklist
    ADD CONSTRAINT banklist_pkey
    PRIMARY KEY (bankid);
--
-- Definition for index documentlist_pkey (OID = 16445) : 
--
ALTER TABLE ONLY documentlist
    ADD CONSTRAINT documentlist_pkey
    PRIMARY KEY (documentid);
--
-- Definition for index templatelist_pkey (OID = 16456) : 
--
ALTER TABLE ONLY templatelist
    ADD CONSTRAINT templatelist_pkey
    PRIMARY KEY (templateid);
--
-- Definition for index templateparamlist_pkey (OID = 16470) : 
--
ALTER TABLE ONLY templateparamlist
    ADD CONSTRAINT templateparamlist_pkey
    PRIMARY KEY (templateparamid);
--
-- Definition for index clientlist_pkey (OID = 16480) : 
--
ALTER TABLE ONLY clientlist
    ADD CONSTRAINT clientlist_pkey
    PRIMARY KEY (clientid);
--
-- Definition for index delegatelist_pkey (OID = 16488) : 
--
ALTER TABLE ONLY delegatelist
    ADD CONSTRAINT delegatelist_pkey
    PRIMARY KEY (delegateid);
--
-- Definition for index paramlist_pkey (OID = 16498) : 
--
ALTER TABLE ONLY paramlist
    ADD CONSTRAINT paramlist_pkey
    PRIMARY KEY (paramid);
--
-- Data for sequence public.banklist_bankid_seq (OID = 16415)
--
SELECT pg_catalog.setval('banklist_bankid_seq', 42, true);
--
-- Data for sequence public.documentlist_documentid_seq (OID = 16436)
--
SELECT pg_catalog.setval('documentlist_documentid_seq', 14, true);
--
-- Data for sequence public.templatelist_templateid_seq (OID = 16447)
--
SELECT pg_catalog.setval('templatelist_templateid_seq', 4, true);
--
-- Data for sequence public.templateparamlist_templateparamid_seq (OID = 16464)
--
SELECT pg_catalog.setval('templateparamlist_templateparamid_seq', 19, true);
--
-- Data for sequence public.clientlist_clientid_seq (OID = 16472)
--
SELECT pg_catalog.setval('clientlist_clientid_seq', 571, true);
--
-- Data for sequence public.delegatelist_delegateid_seq (OID = 16483)
--
SELECT pg_catalog.setval('delegatelist_delegateid_seq', 46, true);
--
-- Data for sequence public.paramlist_paramid_seq (OID = 16493)
--
SELECT pg_catalog.setval('paramlist_paramid_seq', 9, true);
--
-- Comments
--
COMMENT ON SCHEMA public IS 'standard public schema';
